ul { 
    float: left; 
    width: 100%; 
    padding: 0; margin: 0; 
    list-style-type: none; 
  } 
  li { 
    display: inline; 
  } 
  a { 
    float: left; 
    padding: 3px 5px; 
    margin: 0px 1px; 
    text-decoration: none; 
    color: white; 
    background-color: #3399ee; 
  } 
  a:hover { 
    background-color: #cc6600; 
  } 
body{
    background-color: #eeeeff;
}